page-perfil {
    ion-item[center] {
        padding-top: 20px;
        text-align: center;
        p, h2 {
            margin-bottom: 10px !important;
        }
    }
    ion-avatar[large] img {
        margin: 0 auto 25px auto;
        width: 150px;
        height: 150px;
    }
    p[small] {
        font-size: 9px;
        font-style: italic;
    }
}
